a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
figure,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  max-width: inherit;
  box-sizing: border-box
}
body {
  font-family: Helvetica Neue, Helvetica, Segoe UI, Arial, freesans, sans-serif;
  line-height: 1.4em;
  font-size: 14px
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2em;
  margin: 10px 0
}
h1 {
  font-size: 2.5rem;
  margin: 25px 0
}
h2 {
  font-size: 2rem;
  margin: 20px 0
}
h3 {
  font-size: 1.4rem;
  margin: 15px 0
}
h4 {
  font-size: 1.2rem;
  margin: 12px 0
}
button,
input,
select,
textarea {
  outline: none
}
p {
  margin: 8px 0
}
li {
  margin-left: 20px
}
code {
  margin: 0 2px
}
form {
  font-size: 16px
}
form>div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10px 5px
}
form>div>label {
  font-weight: 700;
  margin-right: 10px;
  min-width: 150px;
  text-align: right;
  padding: 6px 9px
}
form>div>div {
  -ms-flex: 1;
  flex: 1;
  max-width: 500px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column;
  position: relative
}
form>div>div>* {
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
  padding: 5px 8px;
  border: 1px solid #ccc
}
form>div>div>[type=checkbox] {
  margin: 8px 0;
  padding: 0
}
form>div>div>select {
  height: 29px
}
form>div>div>label {
  border: none;
  padding-left: 0
}
form>div>div>span {
  border: none;
  font-weight: 700;
  color: #700
}
form>div>div>span:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\F06A';
  margin-right: 5px
}
form>div>div.async-validating:after {
  content: '';
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 200;
  height: 16px;
  width: 16px;
  background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==)
}
form>div button {
  margin: 10px
}
form>div button[type=button] {
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(#fff, #d5d5d5);
  border: 1px solid #d5d5d5;
  color: #000
}
form>div button[type=button]:visited {
  color: #fff
}
form>div button[type=button]:hover {
  background-image: linear-gradient(#fff, #eee)
}
form>div button[type=button]:hover[disabled] {
  background-image: linear-gradient(#fff, #d5d5d5)
}
form>div button[type=button]:visited {
  color: #000
}
form>div button[type=button][disabled] {
  opacity: .6;
  cursor: not-allowed
}
form>div button[type=submit] {
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(#4f93ce, #285f8f);
  border: 1px solid #285f8f
}
form>div button[type=submit]:visited {
  color: #fff
}
form>div button[type=submit]:hover {
  background-image: linear-gradient(#63a0d4, #337ab7)
}
form>div button[type=submit]:hover[disabled] {
  background-image: linear-gradient(#4f93ce, #285f8f)
}
form>div button[type=submit]:visited {
  color: #000
}
form>div button[type=submit][disabled] {
  opacity: .6;
  cursor: not-allowed
}
form>div button[type=submit].submitting {
  cursor: wait!important
}
form>div button[type=submit]:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\F1D8';
  margin-right: 5px
}
form>div button[type=submit].next:before {
  content: '';
  margin-right: 0
}
form>div button[type=submit].next:after {
  content: '\F054';
  margin-left: 5px
}
form>div button.previous:before,
form>div button[type=submit].next:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
form>div button.previous:before {
  content: '\F053';
  margin-right: 5px
}
@media (max-width: 400px) {
  form>div {
    -ms-flex-flow: column nowrap;
    flex-flow: column
  }
  form>div>label {
    text-align: left
  }
  form>div>div {
    -ms-flex-flow: column-reverse nowrap;
    flex-flow: column-reverse
  }
}
form>strong {
  font-weight: 700;
  color: #700;
  display: block;
  text-align: center
}
form>strong:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\F06A';
  margin-right: 5px
}
form button {
  cursor: pointer
}
form ul {
  list-style: none;
  padding: 0;
  margin: 0
}
form ul li {
  margin: 0;
  padding: 15px;
  background-image: linear-gradient(#efefef, #eee);
  clear: both
}
form ul li ul li {
  background-image: linear-gradient(#ccefcc, #cec)
}
form ul li ul li:nth-child(odd) {
  background-image: linear-gradient(#ccdfcc, #cdc)
}
form ul li ul li:first-child {
  background-image: none
}
form ul li.error {
  background-image: linear-gradient(#efcccc, #ecc)!important;
  text-align: center;
  font-weight: 700;
  color: #700
}
form ul li.error:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\F06A';
  margin-right: 5px
}
form ul li>div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10px 5px
}
form ul li>div>label {
  font-weight: 700;
  margin-right: 10px;
  min-width: 150px;
  text-align: right;
  padding: 6px 9px
}
form ul li>div>div {
  -ms-flex: 1;
  flex: 1;
  max-width: 500px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column;
  position: relative
}
form ul li>div>div>* {
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
  padding: 5px 8px;
  border: 1px solid #ccc
}
form ul li>div>div>[type=checkbox] {
  margin: 8px 0;
  padding: 0
}
form ul li>div>div>select {
  height: 29px
}
form ul li>div>div>label {
  border: none;
  padding-left: 0
}
form ul li>div>div>span {
  border: none;
  font-weight: 700;
  color: #700
}
form ul li>div>div>span:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\F06A';
  margin-right: 5px
}
form ul li>div>div.async-validating:after {
  content: '';
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 200;
  height: 16px;
  width: 16px;
  background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==)
}
form ul li>div button {
  margin: 10px
}
form ul li>div button[type=button] {
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(#fff, #d5d5d5);
  border: 1px solid #d5d5d5;
  color: #000
}
form ul li>div button[type=button]:visited {
  color: #fff
}
form ul li>div button[type=button]:hover {
  background-image: linear-gradient(#fff, #eee)
}
form ul li>div button[type=button]:hover[disabled] {
  background-image: linear-gradient(#fff, #d5d5d5)
}
form ul li>div button[type=button]:visited {
  color: #000
}
form ul li>div button[type=button][disabled] {
  opacity: .6;
  cursor: not-allowed
}
form ul li>div button[type=submit] {
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(#4f93ce, #285f8f);
  border: 1px solid #285f8f
}
form ul li>div button[type=submit]:visited {
  color: #fff
}
form ul li>div button[type=submit]:hover {
  background-image: linear-gradient(#63a0d4, #337ab7)
}
form ul li>div button[type=submit]:hover[disabled] {
  background-image: linear-gradient(#4f93ce, #285f8f)
}
form ul li>div button[type=submit]:visited {
  color: #000
}
form ul li>div button[type=submit][disabled] {
  opacity: .6;
  cursor: not-allowed
}
form ul li>div button[type=submit].submitting {
  cursor: wait!important
}
form ul li>div button[type=submit]:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\F1D8';
  margin-right: 5px
}
form ul li>div button[type=submit].next:before {
  content: '';
  margin-right: 0
}
form ul li>div button[type=submit].next:after {
  content: '\F054';
  margin-left: 5px
}
form ul li>div button.previous:before,
form ul li>div button[type=submit].next:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
form ul li>div button.previous:before {
  content: '\F053';
  margin-right: 5px
}
@media (max-width: 400px) {
  form ul li>div {
    -ms-flex-flow: column nowrap;
    flex-flow: column
  }
  form ul li>div>label {
    text-align: left
  }
  form ul li>div>div {
    -ms-flex-flow: column-reverse nowrap;
    flex-flow: column-reverse
  }
}
form ul li>button {
  float: right;
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(#e27c79, #c9302c);
  border: 1px solid #c9302c;
  padding: 5px 8px
}
form ul li>button:visited {
  color: #fff
}
form ul li>button:hover {
  background-image: linear-gradient(#e7908e, #d9534f)
}
form ul li>button:hover[disabled] {
  background-image: linear-gradient(#e27c79, #c9302c)
}
form ul li>button:visited {
  color: #000
}
form ul li>button[disabled] {
  opacity: .6;
  cursor: not-allowed
}
form ul li>button:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\F1F8'
}
form ul li:nth-child(odd) {
  background-image: linear-gradient(#dfdfdf, #ddd)
}
form ul li:first-child {
  background-image: none;
  text-align: center
}
form ul li:first-child button {
  float: none;
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(#fff, #d5d5d5);
  border: 1px solid #d5d5d5;
  color: #000
}
form ul li:first-child button:visited {
  color: #fff
}
form ul li:first-child button:hover {
  background-image: linear-gradient(#fff, #eee)
}
form ul li:first-child button:hover[disabled] {
  background-image: linear-gradient(#fff, #d5d5d5)
}
form ul li:first-child button:visited {
  color: #000
}
form ul li:first-child button[disabled] {
  opacity: .6;
  cursor: not-allowed
}
form ul li:first-child button:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\F067';
  margin-right: 5px
}
form ul li:first-child>span {
  display: block;
  margin-top: 10px;
  font-weight: 700;
  color: #700
}
form ul li:first-child>span:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\F06A';
  margin-right: 5px
}
